@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .avatar {
    width: 200px;
    border: 0.5rem double #000;
    border-radius: 50%;
    margin: 0 1rem 1rem;
    align-items: center;
    margin: 0 auto
    }   

    .column {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }
  article {
    border: 0.5rem double #000;
    font-size: 1.2rem;
    width: 90%;
    margin: 1rem;
  }

  .carousel {
    height: 600px;
  }